@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Nova+Square&display=swap');
@media screen and (max-width:480px) {
    *{
        margin: 0;
        padding: 0;
    }

    html {
        background-color: rgb(241, 241, 241);
        font-family: "Kanit", sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    .header_container {
    
        width: 100%;
        height: 10rem;
        background-color: rgba(255, 255, 255, 0.461);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 20%;
    }
    .n_logo {
        width: 5rem;
        margin-bottom: -10em;
        position: relative;
        top: -10.4em;
    }
    .hi_header {
        width: 80%;
        padding: 2%;
        font-size: 1.2em;
        color: rgba(82, 3, 106, 0.652);
    }

    .title_header {
        width: 80%;
        height: 90%;
        font-size: 1.6rem;
        color: rgba(82, 3, 106, 0.652);
    }

    .cards {
        width: 92%;
        height: 16rem;
        margin: 5% auto;

        padding: 0.8rem;

        border-radius: 8px;
        display: flex;
        overflow-x: auto;
    }

    .card_view {
        min-width: 50%;
        max-height: 15rem;
        margin: 2% 1%;
        background-color: rgb(236, 0, 253);

        box-shadow: 0px 0px 3px rgba(85, 0, 254, 0.404);
        border-radius: 8px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .card_view > img {
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        display: block;
        margin: 0 auto;
        border-radius: 8px;
    }

    .container_p_card {
        width: 86%;
        min-height: 1.4rem;
        display: flex;  
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        position: relative;
        bottom: 2.2em;
        background-color: rgba(53, 53, 53, 0.699);
    }

    .container_p_card > p {
        font-weight: 500;
        color: white;
    }

    .main {
        max-width: 100%;
        padding-bottom: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.2em;
    }
    .card_noticia {
        width: 80%;
        max-width: 89%;
        height: 10rem;
        border-radius: 8px;
        padding: 4% 4%;
        background-color: rgba(98, 0, 255, 0.603);
        
    }

    .noticia {
        max-width: 100%;
        height: 8.2em;
        padding: 4%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: rgb(56, 56, 56);
        gap: 0.62rem;
    }
    .noticia > h3 {
        font-size: 1em;
    }
    .noticia > p {
        max-width: 32rem;
        overflow: scroll;
        text-overflow: ellipsis;
        font-size: 0.8em;
    }
    .noticia > h5 {
        color: rgb(132, 0, 255);
    }

    .footer{
        max-width: 100%;
        height: 5rem;
        background-color: rgb(45, 0, 86);
        
    }
    .foot{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: white;
        gap: 2em;
    }

    .footer_logo{
        width: 5rem;
    }
    .data{
        font-size: 0.8em;
    }
} 